{% extends 'base.html.twig' %}
{% block title %}
    Configuración
{% endblock %}
{% block body %}
    <main class="main">
        <br />  
        <div class ="container-fluid">
  
    
    <div class="animated fadeIn">

    <!-- Page Header-->
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h3 class="display-4">Configuracion de tu cuenta</h3>
            <p class="lead">Aqui podras encontrar la configuracion referente a la administracion de tu cuenta Tueat</p>
        </div>
    </div>

            <!-- CONFIGURACION DE CONTRASEÑA   -->
    <div class="card">
                <!-- TITULO -->
                      <div class="card-header">
                      <h4 class="card-title">Contraseña</h4>
                      </div>

                      <div class="card-body">
                        <div class="form-group">
                            <div class="row">
                                
                            {{form_start (form) }}
                            {{form_end (form) }}

                            </div>
                          </div>
                      </div>
                      </div>
                            
                            
                <!-- CONFIGURACION DE HORARIO  -->
                <div class="card">
                <!-- TITULO -->
                <div class="card-header">
                <h4 class="card-title">Horario</h4>
                </div>

                <div class="card-body">
                    {{form_start (schedule) }}
                    {{ form_row(schedule.submit) }}
                    <table class="table table-responsive-sm">
                        <tr>
                            <th scope="col" id="MO">Lunes</th>
                            <th scope="col" id="TU">Martes</th>
                            <th scope="col" id="WE">Miercoles</th>
                            <th scope="col" id="TH">Jueves</th>
                            <th scope="col" id="FR">Viernes</th>
                            <th scope="col" id="SA">Sábado</th>
                            <th scope="col" id="SU">Domingo</th>
                        </tr>
                        <tr>
                            {%form_theme schedule  'jquery.collection.html.twig' %}
                            <td>
                                {{ form_widget(schedule.MO) }} 
                            </td>
                            <td>
                                {{ form_widget(schedule.TU) }} 
                            </td>
                            <td>
                                {{ form_widget(schedule.WE) }} 
                            </td>
                            <td>
                                {{ form_widget(schedule.TH) }} 
                            </td>
                            <td>
                                {{ form_widget(schedule.FR) }} 
                            </td>
                            <td>
                                {{ form_widget(schedule.SA) }} 
                            </td>
                            <td>
                                {{ form_widget(schedule.SU) }} 
                            </td>
                            
                        </tr>
                    </table>
                    {{ form_end(schedule) }}
                </div>
                
                </div>

              <!-- CONFIGURACION DE CAFETERIAS   -->
              <div class="card">
                <!-- TITULO -->
                <div class="card-header">
                <h4 class="card-title">Cafeterias</h4>
                </div>

                <div class="card-body">
                  {{form_start (configuration) }}
                   {{form_end (configuration) }}
                </div>
                </div>




   
    </div>
  </div>
   
    </main>
{% endblock %}
{%  block javascripts %}
    <script>
        $('.schedule-collection').collection({
            add: '<a href="#" class="float-right text-success" title="Add element"><i class="fa fa-lg fa-plus-circle"></i></a>',
            remove: '<a href="#" class="btn btn-danger" title="Delete element"><i class="fa fa-l fa-minus-circle"></i></a>',
            add_at_the_end: true,
            init_with_n_elements: 1,
            allow_up: false,
            allow_down: false,
        });
        
        $("#MO").append($(".Schedule_MO-collection-rescue-add"));
        $("#TU").append($(".Schedule_TU-collection-rescue-add"));
        $("#WE").append($(".Schedule_WE-collection-rescue-add"));
        $("#TH").append($(".Schedule_TH-collection-rescue-add"));
        $("#FR").append($(".Schedule_FR-collection-rescue-add"));
        $("#SA").append($(".Schedule_SA-collection-rescue-add"));
        $("#SU").append($(".Schedule_SU-collection-rescue-add"));
        
    </script>
 
{% endblock %}