{% extends 'base.html.twig' %}
{% block title %} Accesos {% endblock %}
{% block classBody 'app header-fixed sidebar-fixed aside-menu-fixed aside-menu-hidden aside-menu-off-canvas' %}
{% block body %}
<main class="main">
    <br>
    <div class="container-fluid">
        <div class="animated fadeIn">
            <!-- Page Header-->
            <div class="jumbotron jumbotron-fluid">
                <div class="container">
                    <h3 class="display-4">Empleados</h3>
                    <p class="lead">Genera cuentas de usuario para que tus empleados puedan acceder al sistema, recuerda que solo
                    pueden ser de dos tipos:cajero o entregas. Al ingresar el nombre del empleado ese sera su nombre de usuario para acceder
                    al sistema asi que te recomendamos escribas solo su primer nombre y apellido en minusculas. </p>
                    {% if message is not empty %}
                    <p>{{message}} </p>
                    {% endif %}
                </div>
            </div>
        
            <!-- PRIMERA CARTA -->
            <div class="row">
                <div class="col-md-12 mb-4">
                    <div class="row">
                        <div class="col-sm-5">
                          <h3 class="card-title clearfix mb-0"> </h3>
                        </div>
                    </div>
                      <!-- TABLAS -->
                    <table class= "table table-responsive-sm table-hover table-outline mb-0 ">
                        <!-- TITULOS DE TABLA -->
                        <thead class="thead-light ">
                            <tr>
                                <th>#</th>
                                <th>Nombre de empleado</th>
                                <th>Nombre de Usuario</th>
                                <th>Editar</th>
                                <th>Eliminar</th>
                                <th> 
                                    <button class="text-success" data-toggle="modal" data-target="#createEmployee"> <i class="fa fa-lg fa-plus-circle"></i></button>
                                </th>
                            </tr>
                        </thead>
                        <!-- tbody de tabla -->
                        <tbody>
                        <!-- FILA 1 -->
                            {% for employee in employees %}
                                <tr>
                                    <td> {{loop.index}} </td>
                                    <td> {{employee.name}} </td>
                                    <td> {{employee.username}}</td>
                                    <td>
                                        <button data-pos='{"id_employee": "{{employee.id}}"}' onclick="updateEmployee('/guiconnection/public/admin/resources/employee/{{employee.id}}',this)" type="button" class="btn btn-outline-primary" >
                                            Editar
                                        </button>
                                    </td>
                                    <td>
                                        <button  data-pos='{"id_employee": "{{employee.id}}"}'  onclick="deleteEmployee(this)" type="button" class="btn btn-outline-danger" data-toggle="modal" data-target="#modaleliminarempleado">
                                            Eliminar
                                        </button>
                                    </td>
                                </tr>    
                            {% endfor %}
                            
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}
{% block modals %}
<!-- INICIO MODAL AÑADIR EMPLEADO-->
<!-- Modal --> <!-- El id que recibe id="modal#" tiene que ser el mismo que se pone en el buton en
  data-target ="#modal#" -->
<div class="modal fade" id="createEmployee" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalconfirmardiaespecial">Añadir</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                
                {{form_start(formCreateEmp)}}
                {{form_end(formCreateEmp)}}
            </div>
           
        </div>
    </div>
</div>
<!-- FIN MODAL -->
<!-- INICIO MODAL ELIMIANR EMPLEADO-->
<!-- Modal --> <!-- El id que recibe id="modal#" tiene que ser el mismo que se pone en el buton en
data-target ="#modal#" -->
<!--<div class="modal fade" id="modaleliminarempleado" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modaleliminarempleado">Confirmación de eliminación de empleado</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
            ¿Esta seguro de eliminar a este empleado?, si no estas seguro oprime cancelar o cierra esta ventana.
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
              <button type="button" class="btn btn-primary">Eliminar</button>
            </div>
        </div>
    </div>
</div>-->
{% endblock %}
{% block javascripts %}
<script src="{{ asset('js/helper.js') }}"></script>
<script src="{{ asset('js/views/access.js') }}"></script>
{% endblock %}