{% extends 'base.html.twig' %}
{% block title %}
    Categorias
{% endblock %}
{% block classBody 'app header-fixed sidebar-fixed aside-menu-fixed aside-menu-hidden aside-menu-off-canvas' %}
    {% block body %}
        <main class="main">

            <br>
            <div class="container-fluid">
                <div class="animated fadeIn">
                    <!-- Page Header-->
                    <div class="jumbotron jumbotron-fluid">
                        <div class="container">
                            <h3 class="display-4">Vamos a crear la categorias de tu menu</h3>
                            <p class="lead">Crea categorias y subcategorias de tu menu</p>
                            {% if message is not empty %}
                                <p class="lead"> <b>{{message}}</b> </p>
                            {% endif %}    
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-md-6 mb-4">
                            <div class="tab-pane"  role="tabpanel">
                                <div class="animated fadeIn">
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-md-12 mb-4">
                                                    <!-- TABLAS -->
                                                    <table id="tree" class= "table table-responsive-sm table-outline mb-0 ">


                                                    </table>
                                                    <div id="pager"></div>
                                                </div>
                                            </div>
                                            <hr/>
                                        </div>
                                    </div>
                                </div>
                            </div>                     
                        </div>
                    </div>
                </div>
            </div>
        </main>
    {% endblock %}

    {% block javascripts %}
        <script src="{{asset('vendors/js/jquery.jqGrid.min.js')}}"></script>
        <script src="{{asset('js/views/category.js')}}"></script>

        <script type="text/javascript">

            jQuery(document).ready(function ($) {
                jQuery('#tree').jqGrid({
                    url : "http://localhost/guiconnection/public/admin/{{cafeteria}}/gqlresources/menus",
                    colModel: [
                        {
                            name: "id",
                            index : "id",
                            key: true,
                            hidden: true
                        }, {
                            name: "name",
                            label: "Nombre del Menú",
                            width: 170,
                            editable: true
                        }, {
                            name: "description",
                            label: "Descripción",
                            width: 170,
                            editable: true
                        }
                    ],
                    mtype:'POST',
                    width: "780",
                    hoverrows: false,
                    viewrecords: false,
                    gridview: true,
                    height: "auto",
                    sortname: "lft",
                    loadonce: false,
                    rowNum: 100,
                    scrollrows: true,
                    // enable tree grid
                    treeGrid: true,
                    // which column is expandable
                    ExpandColumn: "name",
                    // datatype
                    treedatatype: "json",
                    // the model used
                    treeGridModel: "adjacency",
                    // configuration of the data comming from server
                    treeReader: {
                        parent_id_field: "parent_id",
                        level_field: "level",
                        leaf_field: "isLeaf",
                        expanded_field: "expanded"
                    },
                    treeIcons: {
                        plus: "fa fa-angle-right",
                        minus: "fa fa-angle-up",
                        leaf: "fa fa-circle-thin"
                    },
                    sortorder: "asc",
                    datatype: "json",
                    pager: "#pager"
                });
                
                jQuery("#tree").navGrid('#pager', {edit: false, add: false, del: false, search: false, refresh: false}
                ).navButtonAdd('#pager', {
                    buttonicon: "fa fa-plus",
                    caption: '',
                    onClickButton: function () {
                        $.get("http://localhost/guiconnection/public/admin/{{cafeteria}}/menu/create", function (data) {
                            bootbox.dialog({
                                className: 'modal',
                                backdrop: true,
                                title: 'Crear Menú',
                                closeButton: false,
                                message: data,
                                onEscape: true
                            });
                        });
                    },
                    position: "last"
                }).navButtonAdd('#pager', {
                    buttonicon: "fa fa-edit",
                    caption: '',
                    onClickButton: function () {
                        selRowId = $('#tree').jqGrid ('getGridParam', 'selrow');
                        updateMenu('/guiconnection/public/admin/{{cafeteria}}/resources/menu/'+ selRowId);
                    },
                    position: "last"
                }).navButtonAdd('#pager', {
                    buttonicon: "fa fa-trash",
                    caption: '',
                    onClickButton: function () {
                        selRowId = $('#tree').jqGrid ('getGridParam', 'selrow');
                        deleteMenu(selRowId);
                    },
                    position: "last"
                });
                
            });
            
        </script>


    {% endblock %}
    {% block stylesheets %}
        <link href="{{asset('vendors/css/ui.jqgrid-bootstrap.css')}}" rel="stylesheet">
        <link href="{{asset('vendors/css/jquery.treegrid.css')}}" rel="stylesheet">
    {% endblock %}