{% extends 'base.html.twig' %}
{% set title = 'Product'%}
{% block classBody 'app header-fixed sidebar-fixed aside-menu-fixed aside-menu-hidden aside-menu-off-canvas' %}
    {% block body %}
        <main class="main">   
            {% include 'header_cafeteria.html.twig' %}
            <div class="container-fluid">
                <div class="animated fadeIn">
                    <!-- Page Header-->
                    <div class="jumbotron jumbotron-fluid">
                        <div class="container">
                            <h3 class="display-4">Vamos a crear los productos de tu menu</h3>
                            <p class="lead">Crea tus productos</p>
                            {% if message is not empty %}
                                <p class="lead">{{message}}</p>
                            {% endif %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-md-6 mb-4">
                            <ul class="nav nav-tabs" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" data-toggle="tab" href="#create" role="tab" aria-controls="tablas"><i class="fa fa-file-text-o"></i>Crear</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#exist" role="tab" aria-controls="graficas"><i class="fa fa-bar-chart"></i>Existentes</a>
                                </li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane active" id="create" role="tabpanel">
                                    <div class="animated fadeIn">
                                        <div class="card">
                                            <div class="card-header">
                                                <h4 class="card-title">Informaci칩n del producto</h4>
                                            </div>
                                            <div class="card-body">
                                                {% form_theme formItem 'bootstrap_4_horizontal_layout.html.twig' %}
                                                {{ form_start(formItem, {'attr': {'id': 'itemform'}}) }}
                                                {{ form_row(formItem.information.name) }}
                                                {{ form_row(formItem.information.description) }}
                                                {{ form_row(formItem.information.cost) }}
                                                {{ form_row(formItem.information.cookingtime) }}
                                                {{ form_row(formItem.information.menu) }}
                                                <hr/>
                                            </div>
                                        </div>
                                        <div class="col-lg-12 col-md-6 mb-4">
                                            <ul class="nav nav-tabs" role="tablist">
                                                <li class="nav-item">
                                                    <a class="nav-link active" data-toggle="tab" href="#ingredients" role="tab" aria-controls="tablas"><i class="fa fa-file-text-o"></i>Ingredientes</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link" data-toggle="tab" href="#extras" role="tab" aria-controls="graficas"><i class="fa fa-bar-chart"></i>Extras</a>
                                                </li>
                                            </ul>
                                            <div class="tab-content">
                                                <div class="tab-pane active" id="ingredients" role="tabpanel">
                                                    <div class="animated fadeIn">
                                                        {% form_theme formItem.ingredients 'bootstrap_4_horizontal_layout.html.twig' 'ingredient_theme.html.twig' %}
                                                        <div>{{form_widget(formItem.ingredients)}}</div>
                                                        <hr/>
                                                    </div>
                                                </div>
                                                <div class="tab-pane" id="extras" role="tabpanel">
                                                    <div class="animated fadeIn">
                                                        {% form_theme formItem.extras 'bootstrap_4_horizontal_layout.html.twig' 'extra_theme.html.twig' %}

                                                        <div>{{form_widget(formItem.extras)}}</div>
                                                        <hr/>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="tab-pane" id="exist" role="tabpanel">
                                    <div class="animated fadeIn">
                                        <div class="card">
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="col-md-12 mb-4">
                                                        <div class="row">
                                                            <div class="col-sm-5">
                                                                <h3 class="card-title clearfix mb-0"> </h3>
                                                            </div>
                                                        </div>
                                                        <!-- TABLAS -->
                                                        <table class= "table table-responsive-sm table-hover table-outline mb-0 ">
                                                            <!-- TITULOS DE TABLA -->
                                                            <thead class="thead-light ">
                                                                <tr>
                                                                    <th>#</th>
                                                                    <th>Nombre del Producto</th>
                                                                    <th>Descripci칩n</th>
                                                                    <th>Costo</th>
                                                                    <th>Editar</th>
                                                                    <th>Eliminar</th>
                                                                </tr>
                                                            </thead>
                                                            <!-- tbody de tabla -->
                                                            <tbody>
                                                                <!-- FILA 1 -->
                                                                {% for item in items %}
                                                                    <tr>
                                                                        <td> {{loop.index}} </td>
                                                                        <td> {{item.name}} </td>
                                                                        <td> {{item.description}}</td>
                                                                        <td> {{item.cost}}</td>
                                                                        <td>
                                                                            <button data-item='{"id_item": "{{item.id}}"}' onclick="updateItem('/guiconnection/public/admin/resources/item/{{item.id}}',this)" type="button" class="btn btn-outline-primary" >
                                                                                Editar
                                                                            </button>
                                                                        </td>
                                                                        <td>
                                                                            <button  data-item='{"id_item": "{{item.id}}"}'  onclick="deleteItem(this)" type="button" class="btn btn-outline-danger" >
                                                                                Eliminar
                                                                            </button>
                                                                        </td>
                                                                    </tr>    
                                                                {% endfor %}

                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                                <hr/>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <ul class="pagination justify-content-end">
                                    <li class="page-item">
                                       {{form_row(formItem.save)}}
                                    </li>
                                </ul>
                                {{form_end(formItem)}} 
                            </div>                              
                        </div>
                    </div>
                </div>
            </div>
        </main>
    {% endblock %}
    
    {% block javascripts %}
        <script type="text/javascript">
        var file = $.getJSON("http://localhost/guiconnection/public/admin/{{cafeteria}}/resources/Alias?_={{time}}");

        $.fn.select2.defaults.set("theme", "bootstrap");
        $('.ingredient-collection').collection({
            allow_duplicate: false,
            allow_up: false,
            allow_down: false,
            after_add: function (collection, element) {
                $(element).find('select').select2(select2cont())
            },
            add: '<a href="#" id="{{formItem.ingredients.vars.name}}_add_button" class="float-right text-success" title="Add element"><i class="fa fa-lg fa-plus-circle"></i></a>',
            init_with_n_elements: 1,
            add_at_the_end: true,
            // here is the magic!
            elements_selector: 'tr.ingredient',
            elements_parent_selector: '%id% tbody'
        });
        $("#{{formItem.ingredients.vars.name}}_add_button").appendTo($('#{{formItem.ingredients.vars.id}}_action'));

        $('.extra-collection').collection({
            allow_duplicate: false,
            allow_up: false,
            allow_down: false,
            after_add: function (collection, element) {
                $(element).find('select').select2(select2cont())
            },
            add: '<a href="#" id="{{formItem.extras.vars.name}}_add_button" class="float-right text-success" title="Add element"><i class="fa fa-lg fa-plus-circle"></i></a>',
            init_with_n_elements: 1,
            add_at_the_end: true,
            // here is the magic!
            elements_selector: 'tr.extra',
            elements_parent_selector: '%id% tbody'
        });
        $("#{{formItem.extras.vars.name}}_add_button").appendTo($('#{{formItem.extras.vars.id}}_action'));


        var urling = "https://s3.us-east-2.amazonaws.com/taitech.tueat/ingredients/";
        $(".select2").select2(select2cont());
        function formatIng(ing) {
            if (ing.loading) {
                return ing.text;
            }
            
            var markup = "<div class='media col-6 col-lg-3'>" +
                    "<img class='d-flex mr-3 img-fluid' src='" + urling + ing.id + ".png" + "'/>" +
                    "<div class='media-body'>" +
                    "<h5 class='mt-0'>" + ing.text + "</h5>" +
                    "</div></div>";
            return markup;
        }

        function formatIngSelection(repo) {
            return repo.text;
        }

        function select2cont() {
            return obj =
                    {
                        ajax: {
                            url: "http://localhost/guiconnection/public/admin/search",
                            dataType: 'json',
                            type: "POST",
                            delay: 250,
                            data: function (params) {
                                var query = {
                                    q: params.term,
                                    page: params.page
                                }
                                return query;
                            },
                            processResults: function (data, params) {
                                // parse the results into the format expected by Select2
                                // since we are using custom formatting functions we do not need to
                                // alter the remote JSON data, except to indicate that infinite
                                // scrolling can be used
                                params.page = params.page || 1;
                                var f = file.responseJSON;
                               
                                $.each(f, function (fKey, fVal) {
                                    //console.log(val.text); 
                                    var flag = false;
                                    if(fVal.text.toLowerCase().includes(params.term.toLowerCase())){
                                        console.log("entra al primer if");
                                        $.each(data.results, function (key, val) {
                                            
                                                if(fVal.id == val.id){
                                                    val.text = fVal.text;
                                                    console.log("entra al if");
                                                    flag = true;
                                                }   
                                        });
                                        if(!flag){
                                            console.log("entra bandera");
                                            data.results.push(fVal);
                                        }
                                    }
                                    else{
                                        $.each(data.results, function (key, val) {
                                            
                                                if(fVal.id == val.id){
                                                    val.text = fVal.text;
                                                    console.log("entra al if 2");
                                                    flag = true;
                                                }   
                                        });                                   
                                    }
                                });
                                
                                console.log(data.results);
                               // data.results[3]=f[0];
                                return {
                                    results: data.results,
                                    pagination: {
                                        more: (params.page * 30) < data.total
                                    }
                                };
                            },
                            cache: true
                        },
                        placeholder: 'Busca un ingrediente',
                        minimumInputLength: 2,
                        escapeMarkup: function (markup) {
                            return markup;
                        }, // let our custom formatter work
                        templateResult: formatIng,
                        templateSelection: formatIngSelection,
                        language: {
                            noResults: function () {
                                return "No hay resultados";
                            },
                            searching: function () {
                                return "Buscando...";
                            },
                            inputTooShort: function () {
                                return "Por favor escribe 2 o m치s car치cteres";
                            }
                        }
                    }
        }
        </script>
        <script src="{{ asset('js/helper.js') }}"></script>
        <script src="{{ asset('js/views/item.js') }}"></script>
    {% endblock %}
    
    