<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">    
        <link rel="shortcut icon" href="{{asset('img/favicon.png')}}">
  <!-- Icons -->
        <link href="{{asset('vendors/css/font-awesome.min.css')}}" rel="stylesheet">
        <link href="{{asset('vendors/css/simple-line-icons.min.css')}}" rel="stylesheet">
        <link href="{{asset('vendors/css/daterangepicker.min.css')}}" rel="stylesheet">
        <link href="{{asset('vendors/css/gauge.min.css')}}" rel="stylesheet">
        <link href="{{asset('vendors/css/toastr.min.css')}}" rel="stylesheet">
        <link href="{{asset('vendors/css/select2.min.css')}}" rel="stylesheet">
  <!-- Main styles for this application -->
        <link href="{{asset('css/style.css')}}" rel="stylesheet">
        <title>
            {% block title %}     
                Admin - Cuckeat
            {% endblock %}
        </title>
        {% block stylesheets %}
        {% endblock %}
        
    </head>
    <body class="{% block classBody %} {% endblock %}">
     
         {% block header %}
              {% include 'header.html.twig' %}
         {% endblock %}
         
        <div class="app-body">
            
            {% block sidebar %}
            {% include 'sidebar.html.twig' %}
            {% endblock %}
                       
            {% block body %}
            {% endblock %}
            
            
        
        </div>
        
        <script src="{{asset('vendors/js/jquery.min.js')}}"></script>
        <script src="{{asset('js/jquery.collection.js')}}"></script>
        <script src="{{asset('vendors/js/popper.min.js')}}"></script>
        <script src="{{asset('vendors/js/bootstrap.min.js')}}"></script>
        <script src="{{asset('vendors/js/pace.min.js')}}"></script>
        
        <script src="{{asset('vendors/js/Chart.min.js')}}"></script>
        <script src="{{asset('js/views/shared.js')}}"></script>
        
        
        <script src="{{asset('js/app.js')}}"></script>
        
        <script src="{{asset('vendors/js/toastr.min.js')}}"></script>
        <script src="{{asset('vendors/js/gauge.min.js')}}"></script>
        <script src="{{asset('vendors/js/moment.min.js')}}"></script>
        <script src="{{asset('vendors/js/daterangepicker.min.js')}}"></script>
        <script src="{{ asset('vendors/js/bootbox.min.js') }}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
        
        <script src="{{asset('js/views/main.js')}}"></script>
        <script src="{{asset('vendors/js/js.cookie.js')}}"></script>
            
        <script type="text/javascript">
            var cafeterias = Cookies.getJSON('CAFETERIAS');
            cafeterias.forEach(function(element){  
            var route = '{{path( app.request.attributes.get('_route') , {'cafeteria': 'currentCafeteria'  }) }}'
            route = route.replace('currentCafeteria', element.toLowerCase().replace(/\+/g, '_'));
               $('#cafeterias').append("<a class='dropdown-item' href=" + route +"><i class='fa fa-user-o'></i>" +  element.replace(/\+/g, ' ') +"</a>");
            });
        </script>
        
        {% block javascripts %}
            
        {% endblock %}
        
        {% block footer %}
            {% include 'footer.html.twig' %}
        {% endblock %}
       
    </body>
    
    {%block modals %}
    {%endblock %}
    
</html>
