
    <div class="sidebar">
        
 <!-- sidebar header-->
      <div class="sidebar-header">
        <button type="button" class="btn btn-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fa fa-coffee fa-3x"></i>
        </button>
        <div class="divider" ></div>
        <div>
          <strong>Administrador</strong>
        </div>
        <div class="text-muted">
          <small>{{cafeteria|title}}</small>
        </div>
            <div class="dropdown-menu">
              <div class="dropdown-header text-center">
                <strong>Mis cafeterias</strong>
              </div>
              <a class="dropdown-item" href="#"><i class="fa fa-user-o"></i> {{cafeteria|title}}</a>
              <a class="dropdown-item" href="#"><i class="fa fa-user-o"></i> {{cafeteria|title}}</a>
            </div>
      </div>
<!-- sidebar header-->

      <nav class="sidebar-nav">
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link" href="{{path('dashboard', {'cafeteria': cafeteria }) }}"><i class="icon-speedometer"></i> Dashboard </a>
          </li>
          <li class="divider"></li>

<!-- TUEAT ADMIN -->
<li class="nav-title">
  Tueat perfil
</li>

<li class="nav-item nav-dropdown">
  <a class="nav-link nav-dropdown-toggle" href="#"><i class="icon-home"></i>Administrador</a>
  <ul class="nav-dropdown-items">

    <li class="nav-item">
      <a class="nav-link"href="{{ path('personal') }}"> <i class="icon-user"></i>Información personal</a>
    </li>
    <li class="nav-item">
      <a class="nav-link"href="{{path('settings', {'cafeteria': cafeteria }) }}"> <i class="icon-settings"></i>Configuración</a>
    </li>
    <li class="nav-item">
      <a class="nav-link"href="{{path('activity', {'cafeteria': cafeteria }) }}"> <i class="icon-flag"></i>Actividad</a>
    </li>
    <li class="nav-item">
      <a class="nav-link"href="{{ path('balance') }}"> <i class="icon-credit-card"></i>Balance</a>
    </li>
  </ul>
</li>
<!-- FIN TUEAT ADMIN -->

<!-- TUEAT MENU -->
          <li class="nav-title">
            Tueat menú
          </li>

          <li class="nav-item nav-dropdown">
            <a class="nav-link nav-dropdown-toggle" href="#"><i class="icon-book-open"></i>Menú</a>
            <ul class="nav-dropdown-items">
              <li class="nav-item">
                <a class="nav-link" href="{{path('menuCategory', {'cafeteria': cafeteria })}}"><i class="icon-grid"></i>Categorias</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{path('menuCategory', {'cafeteria': cafeteria }) }}"><i class="icon-grid"></i>Categorias</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{path('menuProduct', {'cafeteria': cafeteria }) }}"><i class="icon-note"></i>Productos</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{path('menuBundle', {'cafeteria': cafeteria }) }}"><i class="icon-cup"></i>Paquetes</a>
              </li>
            </ul>
          </li>
<!--FIN TUEAT MENU -->

<!-- TUEAT APP -->
          <li class="nav-title">
            Tueat app
          </li>
          <!-- FORMS OPTION -->
          <li class="nav-item nav-dropdown">
            <a class="nav-link nav-dropdown-toggle" href="#"><i class="icon-screen-smartphone"></i>Personaliza tu menú</a>
            <ul class="nav-dropdown-items">
              <li class="nav-item">
                <a class="nav-link" href="{{ path('creator') }}"><i class="icon-puzzle"></i> Arrastra y suelta</a>
              </li>

            </ul>
          </li>
<!-- FIN TUEAT APP -->

<!-- TUEAT POS -->
<li class="nav-title">
  Tueat POS
</li>
          <li class="nav-item nav-dropdown">
            <a class="nav-link nav-dropdown-toggle" href="#"><i class="icon-screen-desktop"></i> Punto de venta</a>
            <ul class="nav-dropdown-items">
              <li class="nav-item">
                <a class="nav-link" href="{{path('POSAccess', {'cafeteria': cafeteria })}}"><i class="icon-check"></i>Accesos</a>
              </li>
            </ul>
          </li>
<!-- FIN TUEAT POS -->


<!-- TUEAT REPORTES -->
<li class="nav-title">
  Tueat datos
</li>
<li class="nav-item nav-dropdown">
  <a class="nav-link nav-dropdown-toggle" href="#"><i class="icon-folder"></i>Reportes</a>
  <ul class="nav-dropdown-items">
    <li class="nav-item">
      <a class="nav-link" href="{{ path('income') }}"><i class="icon-book-open"></i>Datos</a>
    </li>
  </ul>
</li>
<!-- FIN TUEAT REPORTES -->


          <li class="divider m-2"></li>
          <li class="divider m-2"></li>

          <li class="nav-title">
            TUEAT
          </li>
          <li class="nav-item nav-dropdown">
            <a class="nav-link nav-dropdown-toggle" href="#"><i class="icon-info"></i>Acerca de</a>
            <ul class="nav-dropdown-items">
              <li class="nav-item">
                <a class="nav-link" href="{{ path('aboutUs') }}"><i class="icon-emotsmile"></i>Quienes somos</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ path('privacy') }}"><i class="icon-envelope-letter"></i>Privacidad y terminos</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ path('help') }}"><i class="icon-question"></i>Ayuda</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ path('tutorial') }}"><i class="icon-cursor"></i>Tutorial</a>
              </li>
            </ul>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="pages/login.html"><i class="icon-power"></i>Cerrar sesión</a>
          </li>

        </ul>
      </nav>
      <button class="sidebar-minimizer brand-minimizer" type="button"></button>
    </div>
 
